/**
* Only Respective external css packages are imported here
*/

@import url('./externalDependency/bootstrap.min.css');
@import url('./externalDependency/font-awesome-4.7.0/css/font-awesome.css');

html {
  font-size: 100%;
}
