@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');
@import url('https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

// Base color codes
$blue: #526fd6;
$light-blue: #e0e5f8;
$grey: #757575;
$white: #ffffff;
$black: #000000;
$textColor1: #313131;
$projectTxtColor: #3d4859;
$edgeTxtColor: #707070;
$edgeNumColor: #06746f;
$descriptiveTxtColor: #3d4859;
$dashboardBG: #f3f5f5;
$SearchShadowColor: #141414;
$dashboardBoxShadow: 0 2px 14px 0 rgba(220, 220, 220, 0.5);
$edgeNodeAppBg: #5f5f5f;
$edgeNodeBgEnable: #d3ebeb;
$edgeAppBgEnable: #e2efef;
$edgeNodeBgDisable: #e3e1e7;
$edgeAppBgDisable: #ebeaed;
$statusIconColor: #aca8c1;
$navBackgroundColor: #6f6f6f;
$red: #ff0000;
$textColorDefault: #393939;
$themeColor: #089d96;
$eyeIconColor: #bebebe;
$lableColor: #a1a1a1;
$edgeDisableCount: #413e4d;
//Status colors from Zededa
$statusOnline: #00883f;
$statusError: #d1120b;
$statusProvisioned: #ad3f83;
$stautsUnprovisioned: #541998;
$statusSuspect: #c97300;
$statusOther: #7c7678;
$statusUnknown: #7732c5;
$statusInialzed: #076ac8;
//project status
$statusActive: #798d03;
$statusInactive: #7c7678;
$statusArchived: #a37518;

$tableBackground: #f9f8f8;
$tableTextColor: #3d4859;
$modelTitle: #060606;
$sessionColor: #2cafa9;
$sessionTextColor: #178984;
$sessionBackgroundColor: #c7dedd;
$navBorder: #e8dfdf;
$navBackground: #bfe7e5;
$paginationItemcolor: #4a4a4a;

/* ----- TODO update the below item with requirement ----- */
// Font family declarations
$font-default: 'Source Sans Pro', sans-serif;
$font-optional: 'Varela Round', sans-serif;

// media Breakpoints - Make sure to use rem not PX
$bp-768: 48em; // 768px
$bp-1024: 64em; // 1024px
$bp-1366: 85.375em; // 1366px
$bp-1440: 90em; // 1440px
$bp-1536: 96em; // 1536
$bp-1600: 100em; // 1600
$bp-1920: 120em; // 1920
$bp-2560: 160em; // 2560px

// Media Queries
$mq-768: '(min-width: #{$bp-768})';
$mq-1024: '(min-width: #{$bp-1024})';
$mq-1366: '(min-width: #{$bp-1366})';
$mq-1440: '(min-width: #{$bp-1440})';
$mq-1536: '(min-width: #{$bp-1536})';
$mq-1600: '(min-width: #{$bp-1600})';
$mq-1920: '(min-width: #{$bp-1920})';
$mq-2560: '(min-width: #{$bp-2560})';

$mq-retina: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';

/* =======----------- Page Styles are must be imported here --------============ */
@import './pages/login.scss';
@import './pages/dashboard.scss';
@import './pages/pageNotFound.scss';
@import './pages/edgeNodes.scss';

/* =======----------- components Styles are must be imported here --------============ */
@import './components/header.scss';
@import './components/dashboardCard.scss';
@import './components/dropDown.scss';
@import './components/searchbox.scss';
@import './components/navigation.scss';
@import './components/tooltip.scss';
@import './components/textbox.scss';
@import './components/table.scss';
@import './components/pagination.scss';
@import './components/modal.scss';
@import './components/userEvent.scss';
