.dashboard-page-main-container {
    margin-top: 3rem;

    .sample-header {
        display: flex;
        justify-content: space-between;
        height: 4rem;
        align-items: center;
    }


    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-top: 5rem;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
}