.dashboard-page-main-container {
  background-color: $dashboardBG;
  min-height: 100vh;
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.875rem;

    .edge-node-icon {
      width: 1.625rem;
    }
    .edge-app-icon {
      width: 1.438rem;
    }
  }
  .endpoint {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: $font-default;
  }
  .DashboardCardContainer .pagination-wrapper {
    justify-content: center !important;
    padding-bottom: 1.875rem;
  }
}
