.edge-nodes-container {
  background: $dashboardBG;
  min-height: 100vh;

  .endpoint {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: $font-default;
    .edge-node,
    .device-count {
      font-weight: 400;
    }
    .close-icon {
      width: 1.438rem;
      cursor: pointer;
    }
    .device-count {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
  }
  .navigation-panel {
    .nav-wrapper {
      margin-left: 0;
      margin-right: 0;
      .edgeNode-table {
        padding: 0;
      }
    }
    .nav-content {
      padding-right: 0;
      .application-table {
        width: 60%;
        .app-table {
          margin-top: 1.875rem;
        }
        .app-instance-table {
          .table {
            height: 100%;
          }
        }
      }
      .app-network-table {
        width: 40%;
        margin-left: 1rem;
      }
      .network-table {
        .nav-panel {
          display: none;
        }
        .zed-table {
          height: auto !important;
        }
      }
      .app-instance-table .nav-panel {
        width: 32%;
      }
      .network-spinner {
        width: 40%;
      }
      .network-title {
        margin-left: 1rem;
      }
    }
    .nav-panel {
      background-color: $white;
      padding: 0;
      box-shadow: 0 0 0.313rem 0 rgba(113, 110, 110, 0.19),
        0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.04);
      height: max-content;
    }
    .sort-icon {
      width: 0.875rem;
      height: 0.875rem;
      margin-left: 0.375rem;
    }
    .nav-header {
      color: $projectTxtColor;
      font-weight: 600;
      font-size: 0.875rem;
      height: 2.875rem;
      border-bottom: 0.063rem solid $navBorder;
      padding-top: 0.5rem;
      padding-left: 1.25rem;
      display: flex;
      font-family: $font-default;
      align-items: center;
    }
    .nav-list {
      word-break: break-word;
      cursor: pointer;
      border-bottom: 0.063rem solid $navBorder;
      border-radius: 0;
      color: $sessionColor;
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      font-family: $font-default;
      padding-left: 1.25rem;
      font-weight: 700;
      padding-top: 0.688rem;
      padding-bottom: 0.688rem;
      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        color: $themeColor;
        background-color: $navBackground;
        text-decoration: unset;
      }
      &.active {
        background: $navBackground;
      }
    }
  }
}
