.dashboardCard {
  border-radius: 0.438rem;
  background-color: $white;
  box-shadow: $dashboardBoxShadow;

  .TAG_STATUS_ACTIVE {
    color: $statusActive;
  }
  .TAG_STATUS_INACTIVE {
    color: $statusInactive;
  }
  .error {
    color: $statusError;
  }
  .intitilized {
    color: $statusInialzed;
  }
  .suspect {
    color: $statusSuspect;
  }
  .unkonwn {
    color: $statusUnknown;
  }
  .other {
    color: $statusOther;
  }
  .project-txt {
    color: $projectTxtColor;
    font-size: 1.75rem;
    font-weight: 700;
    font-family: $font-default;
  }
  .project-helpertxt {
    color: $projectTxtColor;
    font-family: $font-default;
    font-size: 0.875rem;
  }
  .edgeView-status {
    padding-top: 1.25rem;
    font-size: 1.75rem;
    font-weight: 700;
    padding-bottom: 1.25rem;
    font-family: $font-default;
    &.enabled {
      color: $themeColor;
    }
    &.disabled {
      color: $statusIconColor;
    }
  }
  .edge-nodes-app {
    color: $edgeTxtColor;
    font-size: 1rem;
    font-family: $font-default;
  }
  .edge-app-color,
  .edge-nodes-app,
  .edge-node-color,
  .status-enable .edge-node-color {
    padding-bottom: 0.25rem;
  }

  .node-app {
    font-size: 1.375rem;
    font-weight: 700;
  }
  .status-icon {
    font-size: 1.25rem;
  }
  .status-enable {
    .edge-app-color {
      background-color: $edgeAppBgEnable;
      cursor: pointer;
    }
    .edge-node-color {
      background-color: $edgeNodeBgEnable;
    }

    .node-count {
      color: $edgeNumColor;
    }
  }
  .status-disable {
    .edge-app-color {
      background-color: $edgeAppBgDisable;
    }
    .edge-node-color {
      background-color: $edgeNodeBgDisable;
    }

    .node-count {
      color: $edgeDisableCount;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .dashboardCard {
    .edge-nodes-app {
      font-size: 0.875rem;
    }
  }
}
