.dropDownContainer {
  .cardborder {
    background-color: $white;
    border-radius: 0.438rem;
    box-shadow: $dashboardBoxShadow;
    border: 0;
    .expand-icon {
      width: 1.438rem;
      height: 1.438rem;
      cursor: pointer;
    }
  }
  .descriptive-insights {
    color: $descriptiveTxtColor;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    font-family: $font-default;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }
  .descriptive-helpertxt {
    width: 100%;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.188rem;
    color: $descriptiveTxtColor;
    font-family: $font-default;
  }
}
