.dropDownContainer {
  padding-right: 2.875rem;
  padding-left: 2.875rem;
  .cardborder {
    background-color: $white;
    border-radius: 0.438rem;
    box-shadow: $dashboardBoxShadow;
  }
  .descriptive-insights {
    color: $descriptiveTxtColor;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
  }
  .descriptive-helpertxt {
    width: 100%;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.188rem;
    color: $descriptiveTxtColor;
  }
}
