.header-section {
  padding-right: 2.875rem;
  padding-left: 2.875rem;
  background-image: url('~/src/assets/svg/headerBg.svg');

  color: $white;

  .header-logo {
    width: auto;
    font-family: $font-default;
    font-size: 22px;
    font-weight: bold;
  }
  .beta-logo{
    height: 18px;
    margin-left: 10px !important;
    opacity: 0.8;
    border: 1px solid $white;
    border-radius: 14px;
    color: $white;
    font-size: 12px;
    padding: 0px 11px 0px 11px;
    margin-top: 9px;
  }

  .user-name {
    font-family: $font-default;
    font-size: 1rem;
  }

  .icon-size {
    font-size: 1.75rem;

    &:hover {
      cursor: pointer;
    }
  }

  .help-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.75rem;
  }
}