.pagination-container {
  .pagination {
    margin: 0;
  }
  .pagination > li > a,
  .pagination > li > span {
    border: 0 !important;
    color: #4a4a4a;
    padding: 6px 10px;
  }
  .pagination > .active > a {
    background-color: #fff;
    color: black;
    font-weight: 700;
    font-size: 14px;
  }
  .page-count {
    height: 20px;
    width: 50px;
    border: 1px solid #f9f8f8;
    border-radius: 1px;
  }
  .pagination-total-count {
    font-size: 14px;
    margin: 0;
    color: #4a4a4a;
  }
}
