.search-box {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin-left: auto;
  .search-input {
    height: 2.375rem;
    width: 19.75rem;
    border-radius: 1.188rem !important;
    background-color: $white;
    box-shadow: 0 0.125rem 0.875rem 0 rgb(220 220 220 / 50%);
    border: 0;
    font-family: $font-default;
  }
  .search-panel {
    color: $grey;
    position: absolute;
    top: 0.5rem;
    right: 0.938rem;
    z-index: 999;
    .search-icon {
      width: 1.438rem;
      height: 1.438rem;
    }
  }
}
