.navigation-panel {
  .nav-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
  .nav-content {
    padding-right: 0;
    padding-left: 0;
  }
  .nav-panel {
    background-color: $white;
    padding: 0;
    box-shadow: 0 0 0.313rem 0 rgba(113, 110, 110, 0.19),
      0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.04);
    height: max-content;
    margin-right: 1rem;
  }
  .sort-icon {
    width: 0.875rem;
    height: 0.875rem;
    margin-left: 0.375rem;
  }
  .nav-header {
    color: $projectTxtColor;
    font-weight: 600;
    font-size: 0.875rem;
    height: 2.875rem;
    border-bottom: 0.063rem solid $navBorder;
    padding-top: 0.5rem;
    padding-left: 1.25rem;
    display: flex;
    font-family: $font-default;
    align-items: center;
  }
  .nav-list {
    word-break: break-word;
    cursor: pointer;
    border-bottom: 0.063rem solid $navBorder;
    border-radius: 0;
    color: $sessionColor;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    font-family: $font-default;
    padding-left: 1.25rem;
    font-weight: 700;
    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      color: $themeColor;
      background-color: $navBackground;
      text-decoration: unset;
    }
    &.active {
      background: $navBackground;
    }
  }
}

.table-wrapper table {
  margin-bottom: 0 !important;

  thead {
    background-color: $white;
    .table-header {
      font-size: 0.875rem;
      color: $tableTextColor;
      font-weight: 600;
      font-family: $font-default;
    }
    th {
      border: 0;
      padding: 0.75rem;
      border-top: 0.125rem solid $themeColor !important;
    }
    .zed-title {
      width: 20%;
      word-break: break-word;
      border-bottom: 0.063rem solid $navBorder;
      padding-left: 1.25rem;
    }
    .zed-empty,
    .zed-title {
      border-top: 0 !important;
    }
    .zed-empty {
      background-color: $dashboardBG;
      width: 0.625rem;
    }
    .sort-icon {
      width: 0.75rem;
      margin-left: 0.375rem;
    }
  }
  tbody {
    background-color: $tableBackground;

    tr {
      &:last-child {
        border: 0;
      }
      .nav-list {
        background-color: $white;
      }
      .table-data {
        font-size: 0.875rem;
        color: $tableTextColor;
        font-family: $font-default;
        .session-btn {
          border: 0.063rem solid $sessionColor !important;
          border-radius: 0.25rem;
          color: $sessionColor;
          font-family: $font-default;
          padding: 0.125rem 0;
          font-size: 0.75rem;
          letter-spacing: 0.016rem;
          width: 7.375rem;

          &.disable-btn {
            background-color: $unspecifiedBgColor !important;
            color: $unspecifiedTextColor;
            pointer-events: none;
            border: 0.063rem solid $unspecifiedBorderColor !important;
          }
          &.ACTIVATING {
            background-color: $white;
          }
          &.ACTIVE {
            background-color: $white;
          }
        }
        .INACTIVE {
          background-color: $sessionBackgroundColor;
        }
        .deactive-session {
          background-color: $white;
        }

        .status-icon {
          padding-right: 0.5rem;
        }
        .RUN_STATE_ONLINE {
          color: $statusOnline;
        }
        .RUN_STATE_ERROR {
          color: $statusError;
        }
        .Intitilized {
          color: $statusInialzed;
        }
        .RUN_STATE_SUSPECT {
          color: $statusSuspect;
        }
        .RUN_STATE_UNKNOWN {
          color: $statusUnknown;
        }
        .Other {
          color: $statusOther;
        }
        .RUN_STATE_PROVISIONED {
          color: $statusProvisioned;
        }
        .RUN_STATE_UNPROVISIONED {
          color: $stautsUnprovisioned;
        }
        .RUN_STATE_HALTED {
          color: $statusHalted;
        }
      }
      td {
        border-right: 0.063rem solid $navBorder;
        padding: 0.625rem;
        border-top: 0;
        vertical-align: middle;
        &:last-child {
          border-right: 0;
        }
        &:first-child {
          padding-left: 2.5rem;
          .table-data {
            justify-content: start !important;
          }
        }
      }
      &:last-child {
        td {
          border-top: 0;
          border-bottom: 0;
        }
      }
      .zed-empty {
        background-color: $dashboardBG;
        border: 0;
      }
    }
  }
}
