.event-title {
  font-size: 1.25rem;
  font-family: $font-default;
  padding-top: 2.25rem;
  padding-bottom: 1.375rem;
  font-weight: 700;
}
.user-event-log {
  .user-event-table {
    padding: 0;

    .pagination-wrapper {
      padding-top: 0 !important;
    }
    .nav-panel {
      .nav-list {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        cursor: default;
        &:hover {
          background-color: $white;
        }
      }
    }
    tbody tr {
      .table-data {
        justify-content: start !important;
        padding-left: 1.25rem;
      }
    }
  }
}
